.quiz-play-holder {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top: 40px;
}

.category-holder {
    margin-top: 16px;
    font-size: 24px;
}

.choose-header {
    font-size: 34px;
    font-weight: bold;
}

.play-category:hover {
    color: dodgerblue;
}

.button {
    width: 120px;
    margin: 10px auto;
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 8px 10px;
    align-self: center;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(6, 86, 167);
}

div.button {
    margin-top: 20px;
}

.quiz-question {
    margin: 12px;
    font-size: 24px;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}